{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
    </head>
    <body>
        <div class="tips">
            <a href="http://www.languagenuggets.com/about" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-info-sign"></span> About
            </a>
        </div>
        <div class="page-header">
            <h1 class="header-title hidden-xs"><a href="http://www.languagenuggets.com/russian">Russian Language Nuggets</h1></a>
            <h2 class="header-title visible-xs"><a href="http://www.languagenuggets.com/russian">Russian Language Nuggets</h3></a>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
            <ul>
              <li><a class="active" href="http://www.languagenuggets.com/">Home</a></li>
              <li><a href="{% url 'post_list24' %}">Common questions</a></li>
              <li><a href="{% url 'post_list22' %}">Conversational connectors</a></li>
              <li><a href="{% url 'post_list23' %}">Funny/interesting sentences</a></li>
                  &nbsp;&nbsp;&nbsp;
                <a class="btn btn-warning navbar-btn" href="{% url 'post_list25' %}" role="button" id="navButton">
                Learning Tips + Links</a>
            </ul>
            </div>
        </nav>

        <div class = "content container">

            <div class="row">
                 <div class = "col-sm-4 visible-sm visible-md visible-lg">
                    <div>
                        <img style="max-width:98%;max-height:98%;" src="/static/pictures/moscow2.jpg">
                    </div>
                     <br>
                    <p>On this website, you can learn phrases that are useful in a conversation.
                    You can also find links to other great websites and learning resources.
                    I will also talk about tricks for fast language learning, that I have used in my own studies,
                    and in helping my friends.
                    </p>
                </div>
                <div class="col-sm-8 col-md-5 col-lg-5 col-xl-5">
                {% block content %}
                {% endblock %}
                </div>


            </div>
        </div>
        <!---
        <div class="footer">
            <p>Max Pinomaa</p>
       </div>
       -->
    </body>

</html>