{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Useful Finnish phrases</a></h1>

        </div>
        <div class = "content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <p>Max Pinomaa 2015</p>
        <a href="{% url 'post_new' %}">Testing a link to a new page.</a>
        <a href="{% url 'reverse_list' %}">Testing a link to another new page.</a>
    </body>
</html>