{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">

    </head>
    <body>
        <div class="page-header">
            <h1 class="header-title"><a href="http://www.languagenuggets.com/spanish">Spanish language nuggets</a></h1>
            <div class="top-menu">
            <ul>
              <li><a class="active" href="http://www.languagenuggets.com/">Home</a></li>
              <li><a href="{% url 'reverse_list' %}">Common questions Finns will ask you</a></li>
              <li><a href="{% url 'post_list15' %}">Conversational connectors</a></li>
              <li><a href="http://www.languagenuggets.com/">Links (soon)</a></li>
              <li><a href="{% url 'post_list12' %}">Funny/interesting sentences</a></li>
            </ul>
            </div>
        </div>

        <div class = "content container">

            <div class="row">
                <div class = "col-md-3 visible-md visible-lg">
                        <p>Welcome! If you want to learn Spanish, this website may be useful for you. We will cover many
                        expressions that are useful in a conversation.
The main example sentences will have audio which is important
for getting used to the pronounciation. Also hearing them many times will make them easier
to remember.</p>
                <div class="news">
                    <p>
                    News (7/7/2016):
                    I'm working on a Russian version of this website, ie. Finnish for Russian-speakers.
                    And I will probably publish it during July.
                    </p>
                    <p>- Max Pinomaa</p>
                </div>
                </div>
                <div class="col-md-7">
                {% block content %}
                {% endblock %}
                </div>


            </div>
        </div>
    </body>
</html>