{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <div class="hidden-xs">
        <div class="tips-two">
            <a href="http://www.languagenuggets.com/learning_tips/#info" class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-info-sign"></span> Learning Tips + Links
            </a>
        </div>
        </div>
<div class="page-header-new">
            <h4><a href="{% url 'post_list8' %}">Finnish Language Nuggets</a></h4>

            <div class="top-menu">
            <ul>
              <li><a class="active" href="{% url 'post_list8' %}">Home</a></li>
              <li><a href="{% url 'post_list13' %}">Common questions</a></li>
              <li><a href="{% url 'post_list3' %}">Conversational connectors</a></li>
              <li><a href="{% url 'post_list9' %}">Смешные/интересные</a></li>
            </ul>
            </div>
</div>
        <div class = "content container">

            <div class="row">
                <div class = "col-md-2 visible-md visible-lg">
                </div>
                </div>
                <div class="col-md-7">
                {% block content %}
                {% endblock %}
                </div>

            </div>
        </div>

    </body>
</html>