{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">

    </head>
    <body>
        <div class="page-header">
            <h1 class="header-title"><a href="http://www.languagenuggets.com/italian">Italian language nuggets</a></h1>
            <div class="top-menu">
            <ul>
              <li><a class="active" href="http://www.languagenuggets.com/">Home</a></li>
              <li><a href="{% url 'reverse_list' %}">Common questions Finns will ask you</a></li>
              <li><a href="{% url 'post_list1' %}">Conversational connectors</a></li>
              <li><a href="http://www.languagenuggets.com/">Links (soon)</a></li>
              <li><a href="http://www.languagenuggets.com/finfunint">Смешные / интересные предложения</a></li>
            </ul>
            </div>
        </div>

        <div class = "content container">

            <div class="row">
                <div class = "col-md-2 visible-md visible-lg">
                </div>
                </div>
                <div class="col-md-7">
                {% block content %}
                {% endblock %}
                </div>

            </div>
        </div>

    </body>
</html>