{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
    </head>
    <body>

            <div class="tips">
                <a href="http://www.languagenuggets.com/learning_tips/#info" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span class="hidden-xs">About</span>
                </a>
            </div>

        <div class="page-header-new">
            <img style="width:2%;height:2%;" src="/static/fin.png">
            <h4><a href="{% url 'post_list' %}"><span class="hidden-xs">FINNISH </span>LANGUAGE NUGGETS</a></h4>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
            <ul>
              <li><a href="{% url 'reverse_list' %}">Common questions</a></li>
              <li><a href="{% url 'post_list1' %}">Conversational connectors</a></li>
              <li><a href="{% url 'post_list7' %}">Funny/interesting sentences</a></li>
              <a class="btn btn-warning navbar-btn" href="{% url 'post_list25' %}" role="button" id="navButton">
                      Learning Tips + Links</a>
            </ul>
            </div>
        </nav>

        <div class = "content container">

            <div class="row">
                <div class = "col-md-2 visible-md visible-lg">
                </div>
                </div>
                <div class="col-md-7">
                {% block content %}
                {% endblock %}
                </div>

            </div>
        </div>

    </body>
</html>