{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <div class="tips">
            <a href="http://www.languagenuggets.com/about" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-info-sign"></span> About
            </a>
        </div>
        <div class="page-header">
            <h1 class="header-title hidden-xs"><a href="{% url 'post_list' %}">Finnish Language Nuggets</h1></a>
            <h2 class="header-title visible-xs"><a href="{% url 'post_list' %}">Finnish Language Nuggets</h2></a>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
            <ul>
              <li><a class="active" href="http://www.languagenuggets.com/">Home</a></li>
              <li><a href="{% url 'reverse_list' %}">Common questions</a></li>
              <li><a href="{% url 'post_list1' %}">Conversational connectors</a></li>
              <li><a href="{% url 'post_list7' %}">Funny/interesting sentences</a></li>
                  &nbsp;&nbsp;&nbsp;
                  <a class="btn btn-warning navbar-btn" href="{% url 'post_list25' %}" role="button" id="navButton">
                      Learning Tips + Links</a>
            </ul>
            </div>
        </nav>

        <div class = "content container">

            <div class="row">
                <div class = "col-sm-4 col-md-3 visible-sm visible-md visible-lg">
                    <!---
                    <div>
                        <img style="max-width:98%;max-height:98%;" src="/static/pictures/helsinki.jpg">

                    </div>
                    <br>
                    --->
                    <p>On this website, you can learn phrases that are useful in a conversation.
                    You can also find links to other great websites and learning resources.
                    I will also talk about tricks for fast language learning, that I have used in my own studies,
                    and in helping my friends.
                    </p>
                    <p><small>If you like this website, please consider a small donation via the Paypal button below. Thanks a lot!</small></p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="EKGZ9GHETZPVU">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <div class="col-sm-7 col-lg-5">
                {% block content %}
                {% endblock %}
                </div>


            </div>
        </div>
    </body>
</html>