{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Useful Italian phrases</a></h1>
        </div>
            <ul>
              <li><a class="active" href="http://nax64.pythonanywhere.com/">Home</a></li>
              <li><a href="{% url 'reverse_list' %}">Common questions Italians will ask you</a></li>
              <li><a href="{% url 'post_list1' %}">Conversational connectors</a></li>
              <li><a href="http://nax64.pythonanywhere.com/#links">Links</a></li>

            </ul>
        <div class = "content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <p>Max Pinomaa 2015</p>

    </body>
</html>