{% extends 'phrasebook/base2.html' %}

{% block title %}Finnish dialogues{% endblock %}


{% block content %}
<p>On this page I will ((have)) dialogues that will feature both "conversational connectors" and common questions.
I try to make these as realistic as possible, so that it will be easier for you to have similar conversations.
The dialogues are mostly in Standard Finnish with some very common spoken words - the kind of language that Finns talk to foreigners.
You CAN use spoken language too, but in that case people may overestimate your current level and start talking very fast.
It is probably better to learn the spoken version of the language later.</p>
<p>
I am convinced that this is a valuable resource for you, but, especially if you want to have deeper conversations, I also urge you
study Finnish from other sources too, so that it will be easier for you to talk about a wide variety of topics.
It is probably useful to listen to the dialogues many times until it becomes like music. I recommmend you repeat the lines out loud yourself,
so you get used to forming the sounds and you will be using your brain more, and it will form stronger connections.
<p>
You can also write these dialogues in a notebook and change them to fit your life. You can try them out in your conversations with Finns
and some Finns will correct the sentences.
</p>
It does not always feel nice to be corrected but it is extremely valuable for reaching fluency, so remember to thank them,
and they will correct you more in the future. You can also ask people to correct you.
</p>
<p>Many Finns are fluent in English, but you can usually practice Finnish by asking "Can we speak in Finnish?".
The light version: Can we speak Finnish for a few minutes. </p>
<p><a onclick="this.firstChild.play()"><audio src="https://www.pythonanywhere.com/user/nax64/files/home/nax64/useful-phrases/static/Mukava.m4a"></audio>
                                <img src="/static/play.png"></a>
</p>
<p>- Mistä sinä olet kotoisin?</p>
<p>- Minä olen kotoisin Italiasta.</p>
<p>Ja niin edelleen.</p>
{% endblock %}