{% extends 'phrasebook/base_ita.html' %}

{% block title %}Italian conversational connectors{% endblock %}

{% block content %}
    <p>This is page two of the Italian conversational connectors</p>
    <p>Translated into Italian by Gabriele Ludovici. Thanks Gabriele!</p>
    <p>No audio and not many usage notes yet. We will most probably have them soon.</p>

    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}

                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}