{% extends 'phrasebook/base_spanish2.html' %}
{% load staticfiles %}
{% block title %}Spanish conversational connectors{% endblock %}

{% block content %}
    <p>Here are some conversational connectors.
    This website explains how to use them.
    At the front page I also talked something about their usefulness.</p>
    <p>These were translated into Spanish by A. Thanks a lot!</p>
    {% for post in posts %}
        <div class="post">
            <table border='1' style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <br>
    <br>
{% endblock %}