{% extends 'phrasebook/base2.html' %}

{% block title %}Finnish quiz - conversational connectors{% endblock %}


{% block content %}

<small><div id="questionNumber">Question 1/10</div></small>
<div id="inputter">
    <h3>How do you say the missing word (or sentence) in Standard Finnish?</h3><br>
    <span id="eng"></span> : <input type="text" id="myText" value="">
    <button id='try' onclick="tryIt()">Try it</button><br>
</div>


<div id="output"></div>
<div id="moreOutput"></div>

<br><br>
<button onclick="nextQuestion()" id="next">Next question --></button>
<script>
var questions = [
  {'english': '--- minulla oli kypärä päässä (Fortunately).', 'finnish': 'onneksi', 'finnishAlt': '-'},
    {'english': '--- puhun suomea sujuvasti (Sooner or later).', 'finnish': 'ennemmin tai myöhemmin', 'finnishAlt': '-'},
  {'english': 'Olen kotoisin Venäjältä, Pietarista --- (to be more precise).', 'finnish': 'tarkemmin sanottuna', 'finnishAlt': 'jos tarkkoja ollaan'},
  {'english': '--- huhu ei ole totta (As far as I know).', 'finnish': 'minun tietääkseni', 'finnishAlt': '- '},
  {'english':'That is a good question.','finnish': 'tuo on hyvä kysymys.', 'finnishAlt':'hyvä kysymys.'},
  {'english':'--- olen liian kiireinen juuri nyt (unfortunately).','finnish': 'valitettavasti', 'finnishAlt':'-'},
  {'english':'That remains to be seen.','finnish': 'se jää nähtäväksi.', 'finnishAlt':'-'},
  {'english':'--- huomenna on hyvä sää (I hope that).','finnish': 'toivon, että', 'finnishAlt':'minä toivon, että'},
  {'english':"--- niin minä suljen ikkunan (If you don't mind).",'finnish': 'jos sinua ei haittaa', 'finnishAlt':'jos ei haittaa'},
  {'english':"--- hän voittaa (I'm sure that).",'finnish': 'olen varma, että', 'finnishAlt':'minä olen varma, että'},
]
var i = 0;
var correct = [];
var wrong = [];

function print(message) {
  var outputDiv = document.getElementById("moreOutput");
  outputDiv.innerHTML = message;
}

function buildList(arr) {
 var joined = arr.join("<br>");
  return joined;
}

var myText = document.getElementById("myText");
var tryButton = document.getElementById("try");
var next = document.getElementById("next");
var eng = document.getElementById('eng');

next.style.display = 'none';
eng.innerHTML = questions[i]['english'];

function hideFunction() {
    var x = document.getElementById('inputter');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}


function tryIt() {
    var response = myText.value;
    var right = questions[i]['finnish'];
    var rightAlt = questions[i]['finnishAlt'];
    response = response.toLowerCase();
    fullInfo = questions[i]['english'] + " Right answer: " + questions[i]['finnish'] + " OR: " + questions[i]['finnishAlt'];
    if (response == right || response == rightAlt) {
      var result = "correct.";
        next.style.display = 'block';
        hideFunction();
        correct.push(fullInfo);
    } else {
        var result = "wrong. The right answer is '" + right + "' OR: '" + rightAlt + "'. It may be a good idea to write down the right answer in a notebook and/or say it out loud a few times. Try again later.";
        wrong.push(fullInfo);
        next.style.display = 'block';
        hideFunction();
    }

    document.getElementById("output").innerHTML = "Your answer is " + result;
}

function nextQuestion() {
    i++;
    if (i == questions.length) {
        next.style.display = 'none';
        html = '<h3>You got these correct</h3>';
        if (correct.length != 0) {
            html += buildList(correct);
            html += '<br>';
            eng.innerHTML = " ";
        } else {
            html += "-";
        }
        html += '<h3>You did not answer these correctly yet</h3>';
        if (wrong.length != 0) {
            html += buildList(wrong);
            html += '<br>';
            eng.innerHTML = " ";
        } else {
            html += "-";
        }
        html += '<br><br><a href="javascript:location.reload(true)">Do the test again.</a>'
        print(html);
    } else {
        next.style.display = 'none';
        hideFunction();
        eng.innerHTML = questions[i]['english'];
    }
    myText.value = "";
    document.getElementById("output").innerHTML = " ";
    if (i != questions.length) {
            document.getElementById("questionNumber").innerHTML = "Question " + (i+1) + "/" + questions.length;
    } else {
        questionNumber.innerHTML = " ";
    }
}

</script>

{% endblock %}