{% extends 'phrasebook/base2.html' %}
{% load staticfiles %}
{% block title %}Finnish Conversational Connectors &middot; Language Nuggets{% endblock %}

{% block content %}
<p>
    Conversational connectors are explained well <a href="https://sites.google.com/site/fluentczech/connectorstarterpack" target="_blank">at this website</a>.
    But in short, conversational connnectors are very useful because they make your sentences longer,
    and often more interesting.
    Also they give you more thinking time for the actual information you want to convey to the other person.
</p>
<p>
    After you have studied these conversational connectors, you can test them <a href="{% url 'post_list27' %}">at this page</a>.
    The test doesn't have all of the connectors yet.
</p>
    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <br>
{% endblock %}