{% extends 'phrasebook/base2.html' %}
{% load staticfiles %}
{% block title %}Finnish conversational connectors{% endblock %}

{% block content %}
<p>
    Conversational connectors are explained well <a href="https://sites.google.com/site/fluentczech/connectorstarterpack" target="_blank">at this website</a>.
    But in short, conversational connnectors are very useful because they make your sentences longer,
    and often more interesting.
    Also they give you more thinking time for the actual information you want to convey to the other person.
</p>
    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <h3>Page 1 <a href="{% url 'post_list2' %}">Page 2</a></h3>
    <br>
    <br>
{% endblock %}