{% extends 'phrasebook/base2.html' %}
{% load staticfiles %}
{% block title %}Finnish conversational connectors{% endblock %}

{% block content %}
    <p>This is the page 1 of the conversational connectors.
    <br>
    <a href="{% url 'post_list2' %}">Page 2</a>
    </p>
    {% for post in posts %}
        <div class="post">
            <table border="1">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <a href="{% url 'post_list2' %}">Page 2</a>
    <br>
    <br>
{% endblock %}