{% extends 'phrasebook/base2.html' %}

{% block title %}Finnish conversational connectors | pack 2{% endblock %}

{% block content %}
    <br>
    <br>
    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}