{% extends 'phrasebook/base3.html' %}

{% block title %}Funny/Interesting Finnish Sentences &middot; Language Nuggets{% endblock %}


{% block content %}
<h4>Funny/interesting Finnish sentences</h4>
<p>
These are funny or interesting at least in my opinion. The original English sentences come from <a href="https://tatoeba.org/eng/sentences_lists/show/6217">Tatoeba.org.</a>
I have translated most of these into Finnish, and you can translate them into your own native tongue and post them in Tatoeba.
This will help those who are learning your mother tongue.
</p>
<p>I'm currently recording the audio for these sentences.</p>
    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>
                        {{ post.connector|linebreaks }}

                    </td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}