{% load staticfiles %}
<html>
    <head>
        <title>Language nuggets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <div class="page-header">
            <h1 class="header-title"><a href="/">Language Nuggets</h1></a>
        </div>
        <div class = "content container">
            <div class = "frontawesomeness"></div>
            <p>Welcome! At this website, you can study the following languages:</p>
                <table>
                    <tr>
                        <td><img src="/static/ita.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="{% url 'post_list10' %}">Italian</a></h3>
                        </td>
                        <td class = "native-speakers"><small>65 million native speakers</small></td>
                    </tr>
                    <tr>
                        <td><img src="/static/fin.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="{% url 'post_list' %}">Finnish</a></h3>
                        </td>
                        <td class = "native-speakers"><small>5.4 million native speakers<small></td>
                    </tr>
                        <td><img src="/static/spa.png"></td>
                        <td>
                            <h3 class="frontlangs">Spanish (soon)</h3>
                        </td>
                        <td></td>
                    </tr>

                </table>
                <p>(more to come...)</p>
            </div>
        </div>
    </body>
</html>