{% load staticfiles %}
<html>
    <head>
        <title>Language nuggets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/phrasebook.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    </head>
    <body>
        <div class="page-header">
            <h1 class="header-title hidden-xs"><a href="/">Language Nuggets</h1></a>
            <h2 class="header-title visible-xs"><a href="/">Language Nuggets</h3></a>
        </div>
        <div class = "content container">
            <div class="row">
                <div class = "col-sm-6">
            <div class = "frontawesomeness">
                <p><b>Here you can study the following languages:</b></p>


                <table class="front-table">

                    <tr>
                        <td><img src="/static/spa.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="{% url 'post_list11' %}">Spanish</a></h3>
                        </td>
                        <td class = "native-speakers"><small class="hidden-xs">470 million native speakers<small></td>
                    </tr>
                    <tr>
                        <td><img src="/static/rus.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="http://www.languagenuggets.com/russian">Russian</a></h3>
                        </td>
                        <td class = "native-speakers"><small class="hidden-xs">150 million (no audio yet)<small></td>
                    </tr>

                    <tr>
                        <td><img src="/static/ita.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="{% url 'post_list10' %}">Italian</a></h3>
                        </td>
                        <td class = "native-speakers"><small class="hidden-xs">65 million native speakers</small></td>
                    </tr>
                    <tr>
                        <td><img src="/static/fin.png"></td>
                        <td>
                            <h3 class="frontlangs"><a href="{% url 'post_list' %}">Finnish</a></h3>
                        </td>
                        <td class = "native-speakers"><small class="hidden-xs">5.4 million native speakers<small></td>
                    </tr>
                </table>

                <div class = "visible-sm visible-md visible-lg">
                <img style="max-width:85%;max-height:85%;" src="/static/pictures/welcome.png">
                    <div class="front-info">
                        <p><b>Useful stuff that you will find on this website:</b></p>

                        <p>&#8212; Conversational connectors</p>
                        <p>&#8212; Common questions</p>
                        <p>&#8212; Funny/interesting sentences</p>
                        <p>&#8212; Links to other great learning resources</p>
                    </div>
                </div>
</div>

                </div>

            <div class = "col-sm-6">
                <div class="front-tips">
                    <p><b>Quick learning tips</b></p>
                    <p>Learning languages is much easier when you follow some of the advice of experienced polyglots. It is inspiring to see interviews of people who speak 10+ languages fluently (even while having a life!). If they can do ten or more, you can easily do at least one more, right?</p>
                    <p>
                        Experienced polyglots have found ways of making the process more fun and interesting. From my own experience I can say that life is much more fun standing on the shoulders of giants. <a href="{% url 'post_list25' %}">More info about the bigwig polyglots.</a></p>
                    <p>Are there shortcuts to fluency? Learning a language is usually a long road, unless you are learning a language that is very similar to ones that you already know. However, in my opinion, learning <a href="{% url 'post_list25' %}">conversational connectors</a> and <a href="{% url 'post_list25' %}">common questions</a> can be seen as some sort of shortcuts.</p>
                    <p>When are you ready to start speaking? There is no clear right or wrong answer to this. Personally I tend to start speaking very early on by learning the common questions (and answers) that I mentioned above.</p>
                    <p><a href="{% url 'post_list25' %}">More tips</a></p>

                </div>
            </div>
            </div>
        </div>


    </body>
</html>