{% extends 'phrasebook/base_tips.html' %}

{% block title %}Tips and Links For Fast Language Learning &middot; Language Nuggets{% endblock %}

{% block content %}
<div class="content container">
<div class="row">
<div class="col-sm-7">
<br>
<p class="visible-xs">
    <a href="{% url 'post_list19' %}">Back to the front page</a>
</p>
<p class="visible-sm visible-xs">
    <a href="#spanish">Spanish links </a>&middot;
    <a href="#italian">Italian links </a>&middot;
    <a href="#finnish">Finnish links </a>
</p>
<h3>Language Learning Tips</h3>
<a href="#how">How on Earth could language learning be fun?</a><br>
<a href="#reasons">What are your reasons?</a><br>
<a href="#other">Other cool things you could be doing in your life</a><br>
<a href="#fast">How to learn fast?</a><br>
<a href="#fun">Interesting and fun resources (apps, websites, books, comics...)</a><br>
<a href="#questions">Preparing for the common questions that native speakers will ask you</a><br>
<a href="#connectors">Conversational connectors</a><br>

<h3 id='how'>How on Earth could language learning be fun?</h3>
<p>Believe it or not, some people really enjoy cleaning toilets. Some consider people who enjoy learning languages as similar weirdos. If the conversation turns to languages, many of us get painful flashbacks of school times when we tried to look cool in front of the classmade we had a crush on, but the words that came out did not exactly have the charm of James Bond.</p>

<p>In a way learning a language is like a new childhood. However, this childhood need not last for a long time. Contrary to popular belief, adults can learn faster than children. What can make the process much more fun is realizing that it is possible to acquire the language fast. It is certainly motivating to know that returns to your investments (of time and energy into your studies) are well on their way.</p>

<p>One of the goals of this page is to show that learning can be fast - and also fun. There are now many new ways to learn a language, and this website will describe methods that I have tried, and some that I use daily in my own studies.</p>

<p>I have wasted time and money on many language learning products, and I have made some really good investments too. Hopefully my advice will save you time and money - and make learning more fun for you. I should add that many of the high quality resources described here are completely free.</p>
<p>Some people like to speak more, and this website will ways to make this easier. Some language nerds like to listen more, and here you can also find websites (and other resources) where you can listen high quality material. Some like to read good ol' books and comics, and this website will talk about those as well.</p>

<p>I hope that you will find learning methods that suit your personality, that will make the process more interesting for you. However, I also recommend staying open-minded and trying out tricks that, at least at first glance, do not feel so natural for you. The biggest problem for many, that slows down (or indeed prevents) their learning, is that they have a fixed mindset that says things such as "I’m not that kind of a person who could learn in that way".</p>

<p>From my own experience I can say that some of the methods that I previously couldn’t imagine me doing are now a daily routine as natural as brushing my teeth. I bet there are things in your life that once felt impossible and now are second nature to you. Can you remember some of them?</p>

<h3 id='reasons'>Your reasons</h3>
<p>Keeping in mind why you are learning the language certainly makes it more likely that it will become a daily, enjoyable habit.</p>

<p>I recommend thinking about ways how your new language will benefit other people as well. For example, for various reasons, not everybody in the world are comfortable speaking in English. If you can talk to them in their mother tongue, they may get a nice moment of relaxation, especially if they are living abroad.</p>

<p>Perhaps your effort will inspire them to work on their English or other language as well.</p>

<p>You are more likely to make interesting new friends, people who are learning the same language, as well as native speakers of your target language.</p>

<p>With the new language you will gain a deeper understanding of the culture, and you have more things to talk about with these people. Most people are happy and amazed when even if you know a few facts about the country and its culture.</p>

<p>You get an access to a new world of jokes and mind-blowing cultural insights. It is quite enjoyable to be able watch movies without subtitles, or without weird dubbing.</p>

<p>What could be your reasons?</p>

<h3 id='other'>Other cool things you could be doing in your life</h3>

<p>Are you sure that you want to learn a new language? With the advice in this website you can probably make the process faster than you previously thought possible. But there are obviously many other cool things that you could be working at.</p>

<p>I respect other arts and sciences as well. It’s great if you have other passions. Personally I hope that I will have the inspiration to learn some musical instrument some day. I have enjoyed drawing (with my iPad and with traditional pens) and writing as well.</p>

<p>Maybe you can combine some of these with language learning. For example music and languages can obviously help each other in many ways.</p>

<p>Whatever you decide to do, I recommend looking at ways to learn them in non-orthodox, fast ways, such as the ones taught by Tim Ferriss. Being in flow also makes learning anything more fun and fast, and people such as Steven Kotler and Jason Silva will tell you how to get more of that in your life. Also learning some simple memory techniques can make learning anything by heart a lot easier. I learned memory techniques from the book of the Norweigian memory master (and the man with the coolest name ever) Oddbjörn By.</p>

<h3 id='fast'>How to learn fast?</h3>
<p>What made everything much easier for me was finding people (and their advice) with a lot of experience in language learning. Some even have more than ten languages under their belts, and, more amazingly, have other things going on in their lives as well. </p>

<p>When I first saw their interviews in Youtube and elsewhere, I said to myself 'Damn! If they can speak so many new languages, I can become fluent in a couple of new ones myself.' At that point, five years ago at the age of 25, I could only speak Finnish and English fluently.</p>

<p>I started using some of their techniques, and I started making a lot more progress in my language studies.</p>

<p>Here are some polyglots that have inspired me with their books and interviews: Kató Lomb, Steven Kaufmann, Luca Lampariello, Benny Lewis, John Fotheringham and Mike Campbell. There are others as well. All of them have their own ways of learning (and teaching) languages. If you need some inspiration, I recommend having a look at their interviews, blogs or books. Some of them even made <a href="https://www.youtube.com/watch?v=6HZbBLl4FA0">a crazy song</a> together.</p>

<p>Many of these people learned their foreign languages while living in their home countries. It is not necessary to move to Japan to learn Japanese for example. I have not had the chance to visit Japan yet, but I am able to have long conversations in Japanese.</p>

<p>Of course having a chance to live in the country where the language is spoken is a great opportunity and can teach you many valuable things besides, but it is not a guarantee for language learning success.</p>

<h3 id='fun'>Interesting and fun resources</h3>
<p>It is important to use learning methods that suit your personality and interests. And at this day and age, there are more great methods and materials than ever before. I am not saying that we should throw away our books and other traditional materials. I like to read books in foreign langauges too (especially graded readers).

<p>Comics are also great because they usually have a lot of dialogue in natural spoken language, and the stories are interesting, certainly not only for children. Often you will not need to check words from the dictionary as the meaning will be explained by the pictures.</p>

<p>Even if you have dyslexia, there are many high-quality audio-based courses these days such as Pimsleur and <a href="http://www.glossika.com" target="_blank">Glossika</a>, which is even better. And having conversations with people do not require reading texts.</p>
<p>In fact, I do not recommend Glossika only for people with dyslexia. I have not done a whole Glossika course myself but the few weeks I tried it for learning Italian, I noticed that it is an excellent course that will teach you a langauge relatively fast in a non-brainer way. Unfortunately for me Italian has been a language that I have studied on and off which is not the ideal way to learn a language.</p>

<p>There are some excellent websites and apps available as well. And obviously many bad ones as well. In my own studies, I use Anki electronic flashcards on my smartphone every day. I have also used <a href="http://www.lingq.com" target="_blank">LingQ</a> a lot. It is a treasure trove of interesting texts and interviews. All the content has text and audio. In the end of this page I will list some other good websites and resources.</p>

<p>I have recently found a smartphone app that I like a lot, <a href="http://www.simplylearnlanguages.com" target="_blank">Simply Learn Languages</a>. It has a nice collection of big and small languages. Many people like <a href="http://www.duolingo.com" target="_blank">Duolingo</a>. See if you like their cool gamified approach, but I personally feel that the apps Anki flashcards, LingQ and Simply Learn Languages are more effective.</p>
<h3 id='questions'>Preparing for the common questions that native speakers will ask you</h3>
<p>Even if you are an absolute beginner, it is a good idea to learn the common questions that foreigners always gets asked. When you know them (and how to answer to them) it will be much easier to have little conversations with the native speakers. Even if your vocabulary is still relatively small! </p>

<p>Before my 5-month internship in China, I learned the common questions that Chinese people typically ask foreigners. I found them <a href="http://blogs.transparent.com/chinese/20-questions/">here</a> and some from the work of the polyglot Moses McCormick. Thanks to this simple technique, I was able have small conversations with the locals, even though I had studied Chinese only for about four months before the trip. I was not able to have complicated conversations, but that did not bother me too much. </p>
<p>Unfortunately my interest in Chinese started to decrease as I became more passionate about learning Spanish and Japanese, so I never became fluent in Chinese. I hope I will get an inspiration to study more of that amazing and beautiful language in the future.</p>

<p>Before going to China, I made some Chinese friends and with them I practiced the questions, and ways of answering them. For example I asked my new friends “How can I tell about my hobbies in Chinese?”, and practiced answering that question.</p>

<p>Here at Language Nuggets you can learn most of the common questions in Spanish, Russian, Italian and Finnish.</p>

<h3 id='connectors'>Conversational connectors</h3>
<p>On this website, you can also learn conversational connectors in the languages mentioned above.</p>

<p>They help to make your sentences longer and more interesting. For example, if someone asks me where I am from, I can answer either "Finland" or jokingly "I have to admit that I am from Finland."</p>

<p>I learned this idea from a British gentleman called <a href="https://sites.google.com/site/fluentczech/" target="_blank">Anthony Lauder</a>. He is an interesting example of a successful language learner because he learned his first foreign language as an adulthood. He is also a great speaker and tells many funny stories. I recommend watching his <a href="https://www.youtube.com/watch?v=2X7XTui58Qs" target="_blank">fun talk</a> in youtube that he gave at the Polyglot Conference.</p>


<h3 id='spanish'>Links for learning Spanish</h3>
<div id='link'>
    <p><a href="https://www.youtube.com/playlist?list=PLCE1049BCC2C78B97" target="_blank">Bookbox youtube channel</a>
    <br>
    These are stories with Spanish audio and Spanish subtitles.
    Although they are meant for children, some of the stories are quite interesting. Anyway it's nice
    change for more serious language learning material.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Spanish.html" target="_blank">Surface Languages - Spanish</a>
    <br>
    A nice collection of sentences for different situations. Includes high quality audio too.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://spanish.yabla.com" target="_blank">Yabla Spanish</a>
    <br>
    This is a great collection of videos for learning Spanish. There are videos for many levels.
    And many of the videos are TV originally meant for native speakers. What is also great is that
    you can turn on subtitles in Spanish or English or both at the same or you can just turn them off.
    Also you can read the transcripts of the videos. There are some free videos but
    using the website costs $9.95 per month. I would call it a good investment if this seems like
    a way that you like to learn.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.podclub.ch/index.php/sendungen/a-mi-aire-sp" target="_blank">Podclub Spanish</a>
    <br>
    This is a nice podcast with interesting topics. The audio is good quality too.
    Free! Level: upper beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Spanish.html" target="_blank">Radio Ambulante</a>
    <br>
    Interesting stories and interviews. These podcasts have transcripts and English translations.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Spanish</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>

<h3 id='italian'>Links for learning Italian</h3>
<div id='link'>
    <p><a href="https://www.youtube.com/watch?v=-CCjX4TSw7E&list=PL274CBF1217E95DC7" target="_blank">Bookbox youtube channel</a>
    <br>
    These are stories with Italian audio and Italian subtitles.
    Although they are meant for children, some of the stories are quite interesting. Anyway it's nice
    change for more serious language learning material.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://italian.yabla.com" target="_blank">Yabla Italian</a>
    <br>
    This is a great collection of videos for learning Italian. There are videos for many levels.
    And many of the videos are TV originally meant for native speakers. What is also great is that
    you can turn on subtitles in Italian or English or both at the same or you can just turn them off.
    Also you can read the transcripts. There are some free videos but
    using the website costs $9.95 per month. I would call it a good investment if this seems like
    a way that you like to learn.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.podclub.ch/index.php/sendungen/al-dente-i" target="_blank">Podclub Italian</a>
    <br>
    This is a nice podcast with interesting topics. The audio is good quality too.
    Free! Level: upper beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Italian.html" target="_blank">Surface Languages - Italian</a>
    <br>
    Good collection of sentences for different situations. Includes high quality audio too.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Italian</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="http://simplylearnlanguages.com/italian/index.html" target="_blank">Simply Learn Italian - Travel Phrasebook for Italy</a>
    <br>
    A great mobile app (Android and iOS) that will teach you lots of useful phrases. Audio included.
    I love the fact that you can save your favorite phrases so you can study the sentences you need more practically.
    There is also a flashcard function that seemed to be of good quality. The basic version is free, but if you pay you
    get to study more sentences.
    </p>
</div>

<h3 id='finnish'>Links for learning Finnish</h3>
<div class="link">
    <p>
    <a href="https://www.youtube.com/results?search_query=supisuomea" target="_blank">Supisuomea</a>
    <br>
    Free videos that teach Finnish.
    </p>
</div>
<div id="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Finnish.html" target="_blank">Surface Languages - Finnish</a>
    <br>
    Nice collection of sentences for different situations. Includes high quality audio too.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Finnish</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="http://simplylearnlanguages.com/finnish/index.html" target="_blank">Simply Learn Finnish - Travel Phrasebook for Finland</a>
    <br>
    A great mobile app (Android and iOS) that will teach you lots of useful phrases. Audio included.
    I love the fact that you can save your favorite phrases so you can study the sentences you need more practically.
    There is also a flashcard function that seemed to be of good quality. The basic version is free, but if you pay you
    get to study more sentences.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://yle.fi/uutiset/osasto/selkouutiset/" target="_blank">Yle News in Easy Finnish</a>
    <br>
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="http://areena.yle.fi/tv" target="_blank">Yle - Finnish National TV</a>
    <br>
    Here you can watch movies, TV shows, cartoons, documentaries etc for free!
    Many shows have Finnish subtitles, even the Finnish ones (great for learning).
    My impression is that most shows you can watch only in Finland
    (or with a VPN connection).
    </p>
</div>


<h3 id="info">About this website</h3>
<p>This website was created by Max Pinomaa from Helsinki, Finland.
You can contact me firstname.surname@gmail.com.</p>
<p>
This website does not pretend to be a comprehensive language course.
I will not, for example, teach much grammar here. There are many books and websites for that.
There are many ways to get fluent in a language, but usually you need a combination of different methods and materials.
<p>
This website focuses more on conversation, the amazing world of human interaction.
</p>
<p>
    There are many ways that you can memorize the useful sentences that this website teaches.
    It's probably a good idea to say them out loud.
    You can write them down in your notes, and you can imagine different situations where you could use them.
    And most imporantly, use them in real life, in your conversations and messages.
    Language is a skill and we learn skills by doing (ie. talking and writing to people).
</p>

    <a href="{% url 'post_list19' %}">Back to the front page</a>
</p>


        <br>
        <br>
        <br>
                <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
                <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
                <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
</div>
    <div class="col-md-2 visible-md visible-lg">

        <div class="side-language-links">
        <div class="well well-sm">
    <p>
        <a href="#spanish">Spanish links</a>
    </p>
    <p>
        <a href="#italian">Italian links</a>
    </p>
    <p>
        <a href="#finnish">Finnish links</a>
    </p>
        </div>
        </div>
<p><small>If you like this website, please consider a small donation via the Paypal button below. Thanks a lot!</small></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="EKGZ9GHETZPVU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

    </div>
</div>
</div>
{% endblock %}




