{% extends 'phrasebook/base_tips.html' %}

{% block title %}Tips and Links For Fast Language Learning &middot; Language Nuggets{% endblock %}

{% block content %}
<div class="content container">
<div class="row">
<div class="col-sm-7">
<br>
<p>
    <a href="{% url 'post_list19' %}">Back to the front page</a>
</p>
<p class="visible-sm visible-xs">
    <a href="#spanish">Spanish links </a>&middot;
    <a href="#italian">Italian links </a>&middot;
    <a href="#finnish">Finnish links </a>
</p>
<h3>Language Learning Tips</h3>
<p>On this page, I will share some tips and tricks that will help you learn a language.
I will also give links to other high-quality websites (and other resources)
that I have used in my own studies.</p>
<!---
<p>
Believe it or not, it is possible learn it in a fast and fun way, and faster than a child,
if you follow some simple principles. Obviously there are many ways to learn but there are some
universal rules too.
</p>
--->
<p>
At this point I should probably tell about my own language studies.
I have thousands of hours of experience learning different languages, and
I can have at least some kind of conversations in six languages
(Finnish, English, Japanese, Spanish, Italian and Russian).
Along the way, I have tried many products and websites, wasted money on some bad ones and
made really good investments too.
Hopefully my advice will save you time and money - and make learning
more fun for you.
</p>
<p>What made everything much easier for me was finding people with a lot of experience
in language learning. Some even have more than ten languages under their belts, and, more amazingly, have other things
going on in their lives as well. When I first saw their interviews in Youtube and elsewhere,
I thought 'Damn! If they can speak so many new languages,
I can at least learn a couple of new ones myself.'
At that point (at the age of 25) I could only speak Finnish and English fluently. So I started using some of their
techniques, and I started making a lot more progress in my language studies.
</p>
<p>Here are some polyglots that have inspired me with their books and/or interviews:
Kató Lomb, Steven Kaufmann, Luca Lampariello, Benny Lewis, John Fotheringham, Anthony Lauder, Mike Campbell and Moses McCormick.
There are others too.</p>
<p>
As a side note, many of these people learned their foreign languages
while living in their home countries. You don’t need to move to Japan to learn Japanese for example.
</p>
<p>Some of you may be thinking: "Easy for you to say. I was bad at languages in school."
Well, just because you were bad in languages in school doesn't mean that you will
be bad forever. If you had a classmate who was bad in PE classes,
did you tell him "Sorry you are going to be fat and weak for the rest of their life". :)
Probably not. Let's not use that way of thinking in this field either.
</p>
<p>
It is important to use learning methods that suit your personality and interests.
And at this day and age, there are more methods and materials than ever before.
I am not saying that we should throw away our books and other traditional materials.
I like to read books in foreign langauges too (especially <a href="http://www.fluentu.com/blog/graded-readers/?lang=en">graded readers</a>).
Comics are great because they usually have a lot of dialogue in natural spoken language, and the
stories are interesting, certainly not only for children.
Even if you have dyslexia, there are many high-quality audio courses
these days such as Pimsleur and <a href="http://www.glossika.com">Glossika</a> (better).
And having conversations with people do not require reading texts.</p>

<p>There are some excellent websites and apps available as well.
Obviously many bad ones as well.
In my own studies, I use Anki electronic flashcards on my smartphone every day. I have also used
<a href="http://www.lingq.com" target="_blank">LingQ</a> a lot. It is a treasure trove of interesting texts and interviews. All the content
has text and audio. In the end of this page I will list some other good websites and resources too.
</p>

<p>
Even if you are an absolute beginner,
it is a good idea to learn the common questions that foreigners always gets asked.
When you know them (and how to answer to them) it will be much easier to have little conversations with the native speakers.
Even if your vocabulary is still relatively small!
I learned the common questions that Chinese people normally ask before my internship in China.
I found them <a href="http://blogs.transparent.com/chinese/20-questions/" target="_blank">here</a> and some from the work of the polyglot
<a href="http://flrmethod.com/" target="_blank">Moses McCormick</a>.
Thanks to this simple technique, I could have little conversations with the locals, even though I had studied Chinese only
for about four months before the trip. I was not able to have complicated conversations, but that did not bother me much.
Before going to China, I made some Chinese friends and practiced the questions with them.
</p>
<p>At this website you can also learn conversational connectors.
They help to make your conversations longer and more interesting.
I learned this idea from a British gentleman called <a href="https://sites.google.com/site/fluentczech/" target="_blank">Anthony Lauder</a>.
He is an interesting example of a succesful language learner
because he learned his first foreign language in adulthood.
He is also a great speaker with many funny stories.
I recommend watching his <a href="https://www.youtube.com/watch?v=2X7XTui58Qs" target="_blank">talk in youtube</a>
that he gave at the Polyglot Conference.
</p>
<p>
    We adults want to look cool, and we measure ourselves by how fluently we can express ourselves.
    I think this is one of the reasons why
    most people are not very excited about language learning. In a way language learning is like a new childhood.
    When you don't take your mistakes too seriously everyone will have more fun. In fact,
    mistakes are a sign that you are learning, and noticing your mistakes is extremely valuable. It is important to
    thank people and smile when they correct you. They will not point out your mistakes in the future
    if you get anxious or angry. If you are not open to making mistakes, and to these advice, your new childhood will
    become long and boring indeed.
</p>
<p>
 Contrary to popular belief, adults can learn languages faster than children
 when they use the right techniques and mindset.
 So your new childhood doesn't need to last for a long time.
</p>

<h3 id='spanish'>Links for learning Spanish</h3>
<div id='link'>
    <p><a href="https://www.youtube.com/playlist?list=PLCE1049BCC2C78B97" target="_blank">Bookbox youtube channel</a>
    <br>
    These are stories with Spanish audio and Spanish subtitles.
    Although they are meant for children, some of the stories are quite interesting. Anyway it's nice
    change for more serious language learning material.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Spanish.html" target="_blank">Surface Languages - Spanish</a>
    <br>
    A nice collection of sentences for different situations. Includes high quality audio too.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://spanish.yabla.com" target="_blank">Yabla Spanish</a>
    <br>
    This is a great collection of videos for learning Spanish. There are videos for many levels.
    And many of the videos are TV originally meant for native speakers. What is also great is that
    you can turn on subtitles in Spanish or English or both at the same or you can just turn them off.
    Also you can read the transcripts of the videos. There are some free videos but
    using the website costs $9.95 per month. I would call it a good investment if this seems like
    a way that you like to learn.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.podclub.ch/index.php/sendungen/a-mi-aire-sp" target="_blank">Podclub Spanish</a>
    <br>
    This is a nice podcast with interesting topics. The audio is good quality too.
    Free! Level: upper beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Spanish.html" target="_blank">Radio Ambulante</a>
    <br>
    Interesting stories and interviews. These podcasts have transcripts and English translations.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Spanish</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>

<h3 id='italian'>Links for learning Italian</h3>
<div id='link'>
    <p><a href="https://www.youtube.com/watch?v=-CCjX4TSw7E&list=PL274CBF1217E95DC7" target="_blank">Bookbox youtube channel</a>
    <br>
    These are stories with Italian audio and Italian subtitles.
    Although they are meant for children, some of the stories are quite interesting. Anyway it's nice
    change for more serious language learning material.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://italian.yabla.com" target="_blank">Yabla Italian</a>
    <br>
    This is a great collection of videos for learning Italian. There are videos for many levels.
    And many of the videos are TV originally meant for native speakers. What is also great is that
    you can turn on subtitles in Italian or English or both at the same or you can just turn them off.
    Also you can read the transcripts. There are some free videos but
    using the website costs $9.95 per month. I would call it a good investment if this seems like
    a way that you like to learn.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.podclub.ch/index.php/sendungen/al-dente-i" target="_blank">Podclub Italian</a>
    <br>
    This is a nice podcast with interesting topics. The audio is good quality too.
    Free! Level: upper beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Italian.html" target="_blank">Surface Languages - Italian</a>
    <br>
    Good collection of sentences for different situations. Includes high quality audio too.
    Free! Level: beginner and intermediate
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Italian</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="http://simplylearnlanguages.com/italian/index.html" target="_blank">Simply Learn Italian - Travel Phrasebook for Italy</a>
    <br>
    A great mobile app (Android and iOS) that will teach you lots of useful phrases. Audio included.
    I love the fact that you can save your favorite phrases so you can study the sentences you need more practically.
    There is also a flashcard function that seemed to be of good quality. The basic version is free, but if you pay you
    get to study more sentences.
    </p>
</div>

<h3 id='finnish'>Links for learning Finnish</h3>
<div class="link">
    <p>
    <a href="https://www.youtube.com/results?search_query=supisuomea" target="_blank">Supisuomea</a>
    <br>
    Free videos that teach Finnish.
    </p>
</div>
<div id="link">
    <p>
    <a href="http://www.surfacelanguages.com/language/Finnish.html" target="_blank">Surface Languages - Finnish</a>
    <br>
    Nice collection of sentences for different situations. Includes high quality audio too.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="https://www.50languages.com/" target="_blank">50 languages - Finnish</a>
    <br>
    Great collection of phrases for different situations. Free! They also have a nice smart phone app.
    Free!
    </p>
</div>
<div class="link">
    <p>
    <a href="http://simplylearnlanguages.com/finnish/index.html" target="_blank">Simply Learn Finnish - Travel Phrasebook for Finland</a>
    <br>
    A great mobile app (Android and iOS) that will teach you lots of useful phrases. Audio included.
    I love the fact that you can save your favorite phrases so you can study the sentences you need more practically.
    There is also a flashcard function that seemed to be of good quality. The basic version is free, but if you pay you
    get to study more sentences.
    </p>
</div>
<div class="link">
    <p>
    <a href="http://yle.fi/uutiset/osasto/selkouutiset/" target="_blank">Yle News in Easy Finnish</a>
    <br>
    Free!
    </p>
</div>

<h3 id="info">About this website</h3>
<p>This website was created by Max Pinomaa from Helsinki, Finland.
You can contact me firstname.surname@gmail.com.</p>
<p>
This website does not pretend to be a comprehensive language course.
I will not, for example, teach much grammar here. There are many books and websites for that.
There are many ways to get fluent in a language, but usually you need a combination of different methods and materials.
<p>
This website focuses more on conversation, the amazing world of human interaction.
</p>
<p>
    There are many ways that you can memorize the useful sentences that this website teaches.
    It's probably a good idea to say them out loud.
    You can write them down in your notes, and you can imagine different situations where you could use them.
    And most imporantly, use them in real life, in your conversations and messages.
    Language is a skill and we learn skills by doing (ie. talking and writing to people).
</p>

    <a href="{% url 'post_list19' %}">Back to the front page</a>
</p>


        <br>
        <br>
        <br>
                <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
                <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
                <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>        <br>
        <br>
        <br>
</div>
    <div class="col-md-2 visible-md visible-lg">

        <div class="side-language-links">
        <div class="well well-sm">
    <p>
        <a href="#spanish">Spanish links</a>
    </p>
    <p>
        <a href="#italian">Italian links</a>
    </p>
    <p>
        <a href="#finnish">Finnish links</a>
    </p>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}




