{% extends 'phrasebook/base_eng_ita.html' %}
{% block title %}Italian language nuggets{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="visible-xs visible-sm">
    <p>Welcome! If you want to learn Italian, this website may be useful for you. We will cover many
                        expressions that are useful in a conversation.
    The main example sentences will have audio which is important
    for getting used to the pronounciation. Also hearing them many times will make them easier
    to memorize.</p>
</div>
<p> Here you can find
    <a href="{% url 'reverse_list' %}">common questions that Italians people will ask you.</a>
    Knowing them it will be easier for you to have small conversations with Italians,
    since you will know most of the questions that Italians will ask you.
</p>

    {% for post in posts %}
        <div class="post">
            <table border="1">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}

{% endblock %}
