{% extends 'phrasebook/base.html' %}
{% block title %}Useful Finnish phrases{% endblock %}
{% load staticfiles %}

{% block content %}
<p>Welcome! If you want to learn Finnish, this website will be useful for you.
The main example sentences will have audio which is important
for getting used to the pronounciation. Also hearing them many times will make them easier
to remember.</p>
<p> Here you can find
    <a href="{% url 'reverse_list' %}">common questions that Finnish people will ask you.</a>

</p>
<p>This site will also cover some conversational connectors.
They are explained well <a href="https://sites.google.com/site/fluentczech/connectorstarterpack" target="_blank">at this website.</a>
But in short, conversational connnectors are very useful because
they make your sentences longer and more interesting. Also they give you more thinking time for the actual information
you want to convey to the other person. An example:</p>

    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}</td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td>{{ post.examplesent|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                                <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.exampletransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}

<p>
More Finnish conversational connectors here:
<br>
<a href="{% url 'post_list1' %}">Page 1</a>
<br>
<a href="{% url 'post_list2' %}">Page 2</a>
</p>

<h3><a name="more">How to use (and how not to use) this website</a></h3>
<p>
For more or less serious students of Finnish, this website does not pretend to be a comprehensive language course.
There are many ways to get fluent in a language, but usually you need a combination of different methods and materials.
I will not, for example, teach much grammar here. There are many books and websites for that.
<p>
This website focuses more on conversation, the amazing world of human interaction.
Certain expressions are very useful and fun in that world.
</p>
<h3><a name="links">Links for free high quality websites that teach Finnish</a></h3>
<p><a href="http://www.surfacelanguages.com" target="_blank">Surface languages</a>
has a nice collection of sentences in many languages, even in
<a href="http://www.surfacelanguages.com/language/Finnish.html" target="_blank">Finnish</a>. This site has useful words and many sentences (with audio!) for different situations.
And everything is free, including the mobile apps.</p>
<p>Even if you only use the free version,
<a href="http://www.lingq.com/" target="_blank">LingQ is a great website for learning languages.</a>
It has material for Finnish too. Lingq has lots of texts with audio. Some are long. Some are short. There is also a mobile app for LingQ.</p>
<p>Here you can find
    <a href="http://yle.fi/uutiset/selkouutiset/" target="_blank">news in simplified Finnish with audio.</a>
</p>
<p>(I will add more links soon.)</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}


