{% extends 'phrasebook/base.html' %}

{% block title %}Common Questions Finnish &middot; Language Nuggets{% endblock %}


{% block content %}
<h4>Common questions that Finns will ask you </h4>
<p>
    Armed with these, it will be easier
    for you to have small conversations with Finns in Finnish, since you will probably understand
    most of the questions.
</p>

<p>
    Only the three questions at the bottom of this page have audio at the moment. I will add the rest soon.
</p>

<p>
    After you have studied these questions, you can test them <a href="{% url 'post_list26' %}">at this page</a>. It will only ask you to translate the
    questions into Finnish. The answers you can practice in your conversations with Finns. Understanding the questions
    is a good first step. You may want to do this test multiple times. Let's not forget: Repetition is the mother of skill.
</p>

    {% for post in posts %}
        <div class="post">
            <table border="1" style="width:100%">
                <tr>
                    <td>{{ post.connector|linebreaks }}
                            <a onclick="this.firstChild.play()"><audio src="{{ post.audiofilulinkki }}"></audio>
                            <img src="/static/play.png"></a>
                    </td>
                    <td>{{ post.contransl|linebreaks }}</td>
                </tr>
                <tr>
                    <td colspan="2"> {{ post.usagenotes|linebreaks }}  </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}