<h3><a name="links">Links for free high quality websites that teach Finnish</a></h3>
<p><a href="http://www.surfacelanguages.com" target="_blank">Surface languages</a>
has a nice collection of sentences in many languages, even in
<a href="http://www.surfacelanguages.com/language/Finnish.html" target="_blank">Finnish</a>. This site has useful words and many sentences (with audio!) for different situations.
And everything is free, including the mobile apps.</p>
<p>Even if you only use the free version,
<a href="http://www.lingq.com/" target="_blank">LingQ is a great website for learning languages.</a>
It has material for Finnish too. Lingq has lots of texts with audio. Some are long. Some are short. There is also a mobile app for LingQ.</p>
<p>Here you can find
    <a href="http://yle.fi/uutiset/selkouutiset/" target="_blank">news in simplified Finnish with audio.</a>
</p>
<p>(I will add more links soon.)</p>