.page-header {
    background-color: #b1cbbb;
    margin-top:0;
    margin-bottom:0;
    padding: 20px 0px 0px 0px;
}

.page-header h1, .page-header h1 a:visited, .page-header h1 a:active {
    margin-left:20px;
    font-size: 36pt;
    text-decoration: none;
    text-color: yellow;
}

h1 a:hover {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: yellow;
    text-decoration: none;
}

.navButton {
    margin-right:10px;
    padding-right:40px;
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.news {
    font-style:italic;
}

.header-title {
    margin-left:20px;
}

p.sign {
    float:bottom;
    margin-left:7;
}

.content {
    float:left;
}

.column  {
    float:left;
    max-width:150px;
}

.row {

}

h1, h2, h3, h4 {
    font-family:'Passion one';
    color: black;

}


.top-menu a {
}

.info {
    float:right;
    margin-right:10px;
}

.tips {
    float: right;
    margin-top:0px;
    margin-right:13px;
}


.post {
    margin-bottom: 20px;
}

.post a {
    cursor:pointer;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

th, td {
    padding: 3px;
}



.frontawesomeness {
    padding: 0px 20px 20px 20px;

}

.frontlangs {
    margin: 0px 8px 0px 0px;
}

.native-speakers {
    padding: 0px 0px 0px 0px;
}

.front-table {
    padding: 0px 0px 20px 0px;
}

.link {
    margin-bottom:15px;
}

.more-coming {
    padding: 10px 0px 0px 0px;
}

.side-language-links {
    margin-top: 20px;
}

